{% raw %}{{- /* Template for certificate renewal */ -}}
{{ with secret "{% endraw %}{{ vault_pki_path }}{% raw %}/issue/{% endraw %}{{ vault_pki_role }}{% raw %}" "common_name={% endraw %}{{ inventory_hostname }}{% raw %}.{% endraw %}{{ domain }}{% raw %}" "ttl=720h" }}{% endraw %}
{% raw %}{{ .Data.certificate }}{% endraw %}
{% raw %}{{ end }}{% endraw %}