{% raw %}{{- /* Template for private key renewal */ -}}
{{ with secret "{% endraw %}{{ vault_pki_path }}{% raw %}/issue/{% endraw %}{{ vault_pki_role }}{% raw %}" "common_name={% endraw %}{{ inventory_hostname }}{% raw %}.{% endraw %}{{ domain }}{% raw %}" "ttl=720h" }}{% endraw %}
{{ .Data.private_key }}
{% raw %}{{ end }}{% endraw %}