{% raw %}{{- /* Template for private key renewal */ -}}
{{ with secret "{% endraw %}{{ vault_pki_path }}{% raw %}/issue/{% endraw %}{{ vault_pki_role }}{% raw %}" "common_name={% endraw %}{{ target_hostname }}{% raw %}.{% endraw %}{{ domain }}{% raw %}" "ttl=720h" }}{% endraw %}
{% raw %}{{ .Data.private_key }}{% endraw %}
{% raw %}{{ end }}{% endraw %}