{% raw %}
{{- /* Template for private key renewal */ -}}
{{ with secret "{{ vault_pki_path }}/issue/{{ vault_pki_role }}" "common_name={{ inventory_hostname }}.{{ domain }}" "ttl=720h" }}
{{ .Data.private_key }}
{{ end }}
{% endraw %}