pid_file = "/var/run/vault-agent.pid"

vault {
  address = "https://vault.hashicorp.local:8200"
}

auto_auth {
  method "cert" {
    mount_path = "auth/client-cert-auth"
    config = {
      cert_file = "/etc/vault.d/cert.pem"
      key_file  = "/etc/vault.d/key.pem"
      reload = true

    }
  }

  sink "file" {
    config = {
      path = "/etc/vault.d/vault-token"
    }
  }
}

cache {
  use_auto_auth_token = true
}

listener "tcp" {
  address     = "127.0.0.1:8201"
  tls_disable = true
}

# Certificate renewal configuration
template {
  source      = "/etc/vault.d/templates/cert-renewal.ctmpl.j2"
  destination = "/etc/vault.d/cert.pem"
  error_on_missing_key = true
}

# Private key template
template {
  source      = "/etc/vault.d/templates/key-renewal.ctmpl.j2"
  destination = "/etc/vault.d/key.pem"
  error_on_missing_key = true
  perms       = 0600
}

# CA certificate template
template {
  source      = "/etc/vault.d/templates/ca-renewal.ctmpl.j2"
  destination = "/etc/vault.d/ca.pem"
  error_on_missing_key = true
}